.hero {
    height: 450px;
    background-image:
        url("../../assets/images/banner.jpg");

    background-size: cover;
    background-position: bottom;
    /* border-radius: 20px; */
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}


.hero-overlay {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
    background:
        rgba(0,0,0,0.45);

}


.hero h1 {

    font-size: 42px;
    color:white;
    margin-bottom: 15px;

}


.hero p {
    font-size: 18px;
    margin-bottom: 25px;

}



.hero button {
    width: fit-content;
    padding: 12px 25px;
    border: none;
    margin: 0 auto;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;

}

.scroll-arrow {
    margin-top: 20px;
    font-size: 32px;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}